@{
    ViewData["Title"] = "Home Page";
}

<div class="text-lg-left">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p><a href='@Url.Action("Create", "Product")'>Add new product</a></p>
    <p><a href='@Url.Action("Get", "Product")'>Watch products</a></p>
</div>